{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div id="home" class="container-fluid">
    <div class="row my-5 d-flex justify-content-center">
        <div class="col-md-5 d-flex justify-content-center align-items-center">
            <div class="text-center">
              <img :src="getRandomGif()" class="img-thumbnail shadow" alt="">
            </div>
        </div>
        <div class="col-md-5">
            <div class="row justify-content-center h-100">
                <div class="col-lg-10">
                    <div class="d-flex flex-column justify-content-end h-100 gap-3">
                        <div class="card shadow mb-auto hover-zoom">
                            <div class="card-body p-4">
                                <p class="fs-4">ChessSystem for you. The system can:</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><i class="fas fa-check-circle icon"></i>Handle user authentication and authorization.</li>
                                    <li class="list-group-item"><i class="fas fa-check-circle icon"></i>Help you with organizing tournaments.</li>
                                    <li class="list-group-item"><i class="fas fa-check-circle icon"></i>Provide you with a chess board for your needs.</li>
                                    <li class="list-group-item"><i class="fas fa-check-circle icon"></i>Show history tournaments</li>
                                </ul>
                            </div>
                        </div>
                        <a class="btn btn-lg py-3 hover-zoom shadow" style="background-color: #F3D9B3;" href="https://en.wikipedia.org/wiki/Chess" target="_blank" role="button">Information about chess. What is it?</a>
                        <a class="btn btn-lg py-3 hover-zoom shadow" style="background-color: #F3D9B3;" href="https://www.chess.com" target="_blank" role="button">Greate chess platform</a>
                    </div>
                </div>
          </div>
      </div>
    </div>
</div>


<script>
  new Vue({
    el: '#home',
    data: {
      lang: "{{ request.COOKIES.lang }}"
    },
    methods: {
        getRandomGif() {
            const gifImages = ['main_board1.gif', 'main_board2.gif', 'main_board3.gif', 'main_board4.gif'];
            const randomIndex = Math.floor(Math.random() * gifImages.length);
            return `static/images/${gifImages[randomIndex]}`;
        },
    },
    created() {
      console.log('Language:', this.lang);
    }
  });
</script>

{% endblock %}